@model System.Collections.Generic.ICollection<Webnovel.Entities.NovelSection>

<div class="p-15">
    @*<h4 class="text-secondary">Your sections and chapter</h4>*@
    @*@if (Model.Count() == 0)
    {
        <h4 class="text-primary card-title"> No Section Yet </h4>
        <button class="btn btn-outline-orange" onclick="showCreateSection()">Add Section</button>
    }*@ 
    @foreach (var i in Model)
    {
        @*<h4 class="text-primary card-title m-2"><a href="#" onclick="viewSection(@i.Id)">@i.Title </a></h4>*@
        <ul class="list-group">
            <li class="list-group-item"> <a class="text-primary" onclick="viewSection(@i.Id)"> View All </a> </li>
            @if (i.Chapters.Any())
            {
                foreach (var a in i.Chapters)
                {
                    <li class="list-group-item"> <a class="text-cyan" onclick="showDisplayChapter(@a.Id)"> @a.Name </a> </li>
                }

            }
            else
            {
                <h4 class="text-primary card-title"> No Chapters Yet </h4>
            }
       
        </ul>
    }
</div>