@using Webnovel.Repository
@using Webnovel.Services
@model Webnovel.Models.NovelVm

@inject ICategory category
@inject INovel Novel
@{
    var categories = await category.List();
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var tags = await Novel.Tags();
}

<div class="col-md-12 ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Start creating your novel</h4>
            <form class="m-t-20" asp-action="Create" id="novelForm" method="post">
                @Html.AntiForgeryToken()
                <div class="alert alert-warning hide" id="alertNovelError">

                </div>
                <input type="hidden" asp-for="AuthorId" class="form-control" id="authorId">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Novel Title *</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Novel Title">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"> Select Genre *</label>
                            <select class="form-control" asp-for="CategoryId">

                                @foreach (var i in categories)
                                {
                                    <option value="@i.Id">@i.Name</option>
                                }
                            </select>

                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"> Synopsis *</label>
                            <textarea asp-for="Title" class="form-control" placeholder="Novel Description"> </textarea>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CoverPageImageUrl" class="control-label"> Upload Cover Page </label>
                            <span class="text text-info" > </span> <br />
                            <button class="btn btn-outline-cyan form-control btn-background"   id="beginUpload" style="padding: 2.4rem" type="button"> Click to Begin Upload (max 20 mb) 
                      
                            </button> 
                            <span id="txtUploadSuccess" class="text-info"></span>
                            <input type="hidden" asp-for="CoverPageImageUrl" id="uploadedUrl" />
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="Language" class="control-label"> Language</label>
                            <select asp-for="Language" class="form-control custom-select">
                                <option value="English">English</option>
                                <option value="French">French</option>


                            </select>

                            @*<span asp-validation-for="Title" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="LeadingGender" class="control-label"> Leading Gender</label>
                            <select asp-for="LeadingGender" class="form-control custom-select">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>

                            </select>

                            @*<span asp-validation-for="Title" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="AudienceAge" class="control-label"> Target Age </label>
                            <select asp-for="AudienceAge" class="form-control custom-select">
                                <option value="All">All</option>
                                <option value="Children">Children</option>
                                <option value="Teenagers">Teenagers</option>
                                <option value="Adult">Adult (18+)</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label asp-for="WariningNotice" class="control-label"> Warning Notice</label>
                            <textarea asp-for="WariningNotice" class="form-control" placeholder="Warining Notice"> </textarea>
                            <span asp-validation-for="WariningNotice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NTags" class="control-label"> Tags </label> <br />
                            <select asp-for="NTags" class="form-control custom-select tags" multiple="multiple">
                             

                                @foreach (var i in tags)
                                {
                                    <option value="@i.Name">@i.Name</option>
                                }
                            </select>

                        </div>
                    </div>
                </div>

                <div>
                    <button class="btn btn-primary" id="btnCreateNovel" type="submit">
                        Next
                        <img src="~/images/loading.gif" width="40" height="20" class="hide" id="novelLoading" />
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@*<h4>NovelVm</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label"></label>
                    <input asp-for="AuthorId" class="form-control" />
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <input asp-for="CategoryId" class="form-control" />
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

<div class="modal fade __web-inspector-hide-shortcut__" id="createAuthorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-megna">
                <h4 class="modal-title" id="exampleModalLabel1">Become an author</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@
            </div>
            <div class="modal-body">
                <form asp-action="CreateAuthor" id="authorForm">
                    <div class="alert alert-warning hide" id="alertError">

                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Enter your Title</label>
                        <input type="text" class="form-control" required id="txtAuthorTitle">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" id="btnCreateAuthor">
                            Ok
                            <img src="~/images/loading.gif" width="40" height="20" class="hide" id="authorLoading" />
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                @*<button type="button" class="btn btn-primary">Ok</button>*@
            </div>
        </div>
    </div>
</div>

@section css{
    <link href="~/admin/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/asset/select/css/select2.css" rel="stylesheet" />
    <style>
        .select2-container--classic .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            background-color: #bdc3d1;
            border-color: #7398ff;
            color: #fff;
        }
        .btn-background {
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            background-attachment: local;
        }
    </style>
}

@section Scripts{
    <script src="~/admin/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/asset/select/js/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.tags').select2({
                tags: true
            });
        });
    </script>
    <script>
        $(function() {
            var hasAuthor = '@ViewBag.Author';
            if (hasAuthor != 'true') {
                $("#createAuthorModal").modal({
                    backdrop: 'static',
                    keyboard: false
                });
            }

            $("#authorForm").submit(function(event) {
                event.preventDefault();
                var formData = {
                    Id: "",
                    Title: $("#txtAuthorTitle").val(),
                    UserId: ""
                }

                $.ajax({
                    url: $(this).attr("action"),
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    beforeSend: function () {
                        $("#btnCreateAuthor").attr('disable', 'disable');
                        $("#authorLoading").show();
                    },
                    complete: function(){
                        $("#btnCreateAuthor").removeAttr('disable');
                        $("#authorLoading").hide();

                    },
                    success: function (response) {
                        if (response.status == 200) {
                            $("#createAuthorModal").modal('hide');
                            $('#alertError').addClass('hide');
                            $('#authorId').val(response.data.id);
                        } else {
                            $("#alertError").text(response.message);
                            $('#alertError').removeClass('hide');
                        }
                        console.log(response);
                    },
                    error: function(err) {
                        console.log(err);
                    }

                });
            });


            $("#novelForm").submit(function(event) {
                event.preventDefault();
                var data = $(this).serialize();

                $.ajax({
                    url: $(this).attr("action"),
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    beforeSend: function () {
                        $("#btnCreateNovel").attr('disable', 'disable');
                        $("#novelLoading").show();
                    },
                    complete: function(){
                        $("#btnCreateNovel").removeAttr('disable');
                        $("#novelLoading").hide();

                    },
                    success: function (response) {
                        if (response.status == 200) {
                            //$("#createAuthorModal").modal('hide');
                            //$('#alertError').addClass('hide');
                            //$('#authorId').val(response.data.id);

                            Swal.fire({
                                title: 'Success',
                                text: 'Continue adding chapters and content',
                                type: 'success',
                                confirmButtonText: 'Cool'
                            });
                            console.log(response);
                            location.href = "/Novel/ManageChapters/" + response.data.id;
                        } else {
                            $("#alertNovelError").text(response.message);
                            $('#alertNovelError').removeClass('hide');

                        }
                        console.log(response);
                    },
                    //error: function(err) {
                    //    console.log(err);
                    //}

                });
            });
        });
    </script>

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">
    </script>



    <script>
        var cloudName = "@CloudinaryUpload.cloud";
        var apiKey = "@CloudinaryUpload.apiKey";
        var widget = cloudinary.createUploadWidget({
                cloudName: cloudName,
                apiKey: apiKey,
                uploadPreset: "unsignedUpload",
                folder: "webnovel",
                maxFiles: 1,
            resourceType: "image",
            maxFileSize: 21000000
            },
            (error, result) => {
                if (result && result.event === "success") {
                    // do something
                    $("#uploadedUrl").val(result.info.secure_url);
                    $("#beginUpload").css("background-image", "url(" + result.info.secure_url+")");
                    $("#txtUploadSuccess").html("Uploaded Successfully");
                }
                console.log(result);
            });

        $("#beginUpload").click(function(event) {
            event.preventDefault();
            widget.open();
        });
    </script>
}