
@using Webnovel.Repository

@inject IComic _Comic

@model ReflectionIT.Mvc.Paging.PagingList<Webnovel.Entities.Episode>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging


@{
    ViewData["Title"] = "Read Comic";
    Layout = "~/Views/Shared/_NovelLayout.cshtml";

    //var comicScene = await _Comic.GetComicScenes(Model.Id);

    var chapterId = ViewBag.chapterId; 
    var m = Model;
}

@section Css
{
    
    <style>
        .page-template-t-tags-php .entry {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1; 

        }

        @@media screen and (min-width: 860px) { 
        .entry {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
            -moz-column-gap: 50px;
            -webkit-column-gap: 50px;
            column-gap: 50px;
            -moz-column-rule: 1px dashed #eee;
            -webkit-column-rule: 1px dashed #eee;
            column-rule: 1px dashed #eee;
        }
        }
    </style>

}

<div id="content">
    <div id="main">

        <div class="post-13 post type-post status-publish format-standard has-post-thumbnail hentry category-stories tag-another-tag-example tag-book tag-classic tag-england tag-fiction tag-non-fiction tag-novel tag-poetry tag-printed-word tag-short-story tag-tag-example tag-true-story tag-yet-another">

            @*<div id="featuredImage">
                    <img src="~/novelist/files/2011/08/sherlock2.png" class="attachment-post size-post wp-post-image" alt="" srcset="http://themes.themolitor.com/wpnovelist/files/2011/08/sherlock2.png 340w, http://themes.themolitor.com/wpnovelist/files/2011/08/sherlock2-150x150.png 150w, http://themes.themolitor.com/wpnovelist/files/2011/08/sherlock2-300x300.png 300w" sizes="(max-width: 340px) 100vw, 340px" />
                </div>*@

            <h2 class="posttitle">@ViewBag.Title </h2>
            <div class="postInfo">@ViewBag.Description</div>

            <div id="entryContainer">
                <div class="entry">
                    @*@Html.Raw(Model.Content)*@
                    <p>
                        @if (Model.Any())
                        {
                            foreach (var i in Model)
                             {
                                 <img src="@i.ImageUrl">

                             }
                        }
                      
                    </p>
                    <p class="postinate">
                        @{
                            var start = this.Model.StartPageIndex;
                            var stop = this.Model.StopPageIndex;
                        }
                        @if (this.Model.PageCount > 1)
                        {

                            @if (start > 1)
                            {

                                <a href="@Url.Action("ReadComic", Model.GetRouteValueForPage(1))"><span>1</span></a>
                            }
                            @if (this.Model.PageIndex > 1)
                            {
                                @*<li class="page-item">
                    <a href="@Url.Action(Model.Action, Model.GetRouteValueForPage(this.Model.PageIndex - 1))" aria-label="Previous" class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>*@
                                <a href="@Url.Action("ReadComic", Model.GetRouteValueForPage(this.Model.PageIndex - 1))"><span>&laquo;</span></a>

                            }
                            @for (int i = start; i <= stop; i++)
                            {
                                @*<li class="page-item @((Model.PageIndex == i) ? "active" : null)">
                    @Html.ActionLink(i.ToString(), Model.Action, Model.GetRouteValueForPage(i), new { @class = "page-link" })
                </li>*@
                                <a href="@Url.Action("ReadComic", Model.GetRouteValueForPage(i))"><span>@i</span></a>

                            }
                            @if (this.Model.PageIndex < this.Model.PageCount)
                            {
                                @*<li class="page-item">
                    <a href="@Url.Action(Model.Action, Model.GetRouteValueForPage(this.Model.PageIndex + 1))" aria-label="Next" class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>*@
                                <a href="@Url.Action("ReadComic",  Model.GetRouteValueForPage(this.Model.PageIndex + 1))"><span>&raquo;</span></a>

                            }
                            @if (stop < this.Model.PageCount)
                            {
                                <li class="page-item">
                                    <a href="@Url.Action("ReadComic", Model.GetRouteValueForPage(this.Model.PageCount))" aria-label="Last" class="page-link">
                                        <span aria-hidden="true">@this.Model.PageCount</span>
                                    </a>
                                </li>
                                <a href="@Url.Action("ReadComic", Model.GetRouteValueForPage(this.Model.PageCount))"><span>@this.Model.PageCount</span></a>

                            }

                        }

                        @*Pages:
                        <span>1</span>
                        <a href="#"><span>2</span></a>
                        <a href="#"><span>3</span></a>*@

                    </p>
                </div><!--end entry-->
            </div>


            <!--IF COMMENTS ARE OPEN-->
            <div id="commentToggle">
                <a href="#">~&nbsp;&nbsp; Thoughts? &nbsp;&nbsp;~</a>
            </div>
            <div id="commentsection">
                <div id="toggleComments">
                    <!--IF THERE ARE COMMENTS-->

                    <div id="respond">

                        <h3>Leave a Reply</h3>
                        <div class="cancel-comment-reply">
                            <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Click here to cancel reply.</a></small>
                        </div>
                        <!--IF USER MUST BE LOGGED IN-->
                        <form action="http://themes.themolitor.com/wpnovelist/wp-comments-post.php" method="post" id="commentform">
                            <!--IF USER IS LOGGED IN-->
                            <p>
                                <input type="text" name="author" id="author" value="" size="22" tabindex="1" aria-required='true' />
                                <label for="author"><small>Name (required)</small></label>
                            </p>
                            <p>
                                <input type="text" name="email" id="email" value="" size="22" tabindex="2" aria-required='true' />
                                <label for="email"><small>Email (required)</small></label>
                            </p>
                            <p>
                                <input type="text" name="url" id="url" value="" size="22" tabindex="3" />
                                <label for="url"><small>Website</small></label>
                            </p>

                            <p>
                                <textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea>
                            </p>
                            <p>
                                <input name="submit" type="submit" id="submit" tabindex="5" value="Submit Comment" />
                                <input type='hidden' name='comment_post_ID' value='13' id='comment_post_ID' />
                                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                            </p>

                        </form>
                    </div><!--end respond-->
                </div><!--end toggleComments-->
            </div>

        </div><!--end post-->

    </div><!--end main-->
    <div class="clear"></div>
    <a href="#" rel="next"></a>
    <a href="#" rel="prev"></a>
</div><!--end content-->
