@model Webnovel.Entities.Novel

@using CloudinaryDotNet
@using Sentry.Protocol
@using Webnovel.Helpers
@using Webnovel.Repository
@using Webnovel.Services

@inject INovel Novel
@inject IRate _Rate 
@inject INovelComment _NovelComment
@{
    ViewBag.Title = "Novel - " + StringProcessor.SubString(Model.Title, 0, 60);

    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageLink = @ViewBag.PageUrl;

    var rates = await _Rate.GetNovelRating(Model.Id);
    var rateAverage = await _Rate.GetNovelRateAverage(Model.Id);
    var review = await _NovelComment.List(Model.Id);
    var cloudinary = new Cloudinary(new Account()
    {
        ApiKey = CloudinaryUpload.apiKey,
        ApiSecret = CloudinaryUpload.apiSecret,
        Cloud = CloudinaryUpload.cloud
    });
    var img = Model.CoverPageImageUrl;
    if (Model.CoverPageImageUrl != null)
    {
        img = cloudinary.Api.UrlImgFetch.
           Transform(new Transformation()
               .Height(500).Width(350).Crop("fill")).BuildUrl(Model.CoverPageImageUrl);
    }
    else
    {
        img = cloudinary.Api.UrlImgFetch.
            Transform(new Transformation()
                .Height(500).Width(350).Crop("fill")).BuildUrl("https://res.cloudinary.com/votel/image/upload/v1562332529/NO_COVER_PAGE_1.png");
    }
    var Novels = await Novel.GetAllNovels();
    var thumbnailImage = cloudinary.Api.UrlImgFetch.
        Transform(new Transformation()
            .Height(200).Width(300).Crop("fill")).BuildUrl(img); 

    

}
@section metaTags
    {
    <meta name="twitter:card" content="summary" />
    <meta name="description" content="@StringProcessor.SubString(Model.Title, 0, 150)">
    <meta property="og:title" content="@StringProcessor.SubString(Model.Name, 0, 30)" />
    <meta property="og:url" content="@ViewBag.PageUrl" />
    <meta property="og:description" content="@StringProcessor.SubString(Model.Title, 0, 65)">
    <meta property="og:image" content="@thumbnailImage">
    <meta property="og:type" content="article" />
}


<div class="hero sr-single-hero sr-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img">
                    <img src="@img" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="@Url.Action("ReadNovel", "Novel", new {id = Model.Id })" class="item item-1 redbtn"> <i class="ion-ios-book"></i> Read Now</a></div>
                            <div><a href="@Url.Action("ReadNovel", "Novel", new {id = Model.Id })" class="item item-2 redbtn hvr-grow"><i class="ion-ios-book"></i></a></div>
                        </div>
                        @*<div class="btn-transform transform-vertical">
                            <div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Save</a></div>
                            <div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">@Model.Name <span style="text-transform: capitalize;">- @Model.Category.Name</span></h1>

                    <div class="social-btn">
                        <a href="#" id="addToFavorite" class="parent-btn "><i class="ion-heart"></i> Add to Favorite</a>
                        <div class="hover-bnt">
                            <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>Share</a>
                            <div class="hvr-item">
                                <a href="https://www.facebook.com/sharer.php?u=@pageLink" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                <a href="https://twitter.com/share?url=@pageLink&text=@Model.Name&hashtags=#Alkebulania
" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                <a href="https://wa.me/?text=@Model.Name @pageLink
" class="hvr-grow"><i class="ion-social-whatsapp"></i></a>
                                <a href="#" id="shareAll" class="hvr-grow"><i class="ion-share"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p>
                                <span> @rateAverage</span> /5<br>
                                <span class="rv">@review.Count() Reviews</span>
                            </p>
                        </div>
                        @*<div class="rating" data-rate-value="@rateAverage"></div>*@
                
    <div class="rate-star">
        @*<p>Rate This Movie:  </p>*@
        @*<i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>*@
        @{
            var fullStar = (int)rateAverage;
            var halfStar = rateAverage - fullStar;
            if (halfStar > 0)
            {
                halfStar = 1;
            }
            else
            {
                halfStar = 0;
            }
            var emptyStar = 5 - (fullStar + halfStar);
        }

        @for (int i = 0; i < fullStar; i++)
        {
            <i class="ion-ios-star"></i>
        }
       @if (halfStar > 0)
       {
           <i class="ion-ios-star-half"></i>
       }
        @for (var i = 0;i < emptyStar; i++ )
        {

            <i class="ion-ios-star-outline"></i>
        }

    </div>

                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv tabs-series">
                                <li class="active"><a href="#overview">Overview</a></li>
                                <li><a href="#reviews"> Reviews</a></li>
                                <li><a href="#cast">  Chapters </a></li>
                                <li><a href="#media">Authors</a></li>
                                @*<li><a href="#season"> Season</a></li>*@
                                <li><a href="#moviesrelated"> Related Shows</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>@Model.Title</p>
                                            <div class="title-hd-sm">
                                                <h4>Details</h4>

                                            </div>
                                            <!-- movie cast --> 
                                            <div class="mvcast-item">
                                                <div class="">
                                                    <div class="cast-left series-it">
                                                        <div class="sb-it">
                                                            <h6>Audience : </h6>
                                                            <p><a href="#">@Model.AudienceAge </a> @*<a href="#">Stan Lee</a>*@</p>
                                                        </div>
                                                   
                                                        <div class="sb-it">
                                                            <h6>Leading Gender : </h6>
                                                            <p><a href="#">@Model.LeadingGender </a> @*<a href="#">Stan Lee</a>*@</p>
                                                        </div>  
                                                        <div class="sb-it">
                                                            <h6>Language : </h6>
                                                            <p><a href="#"> @Model.Language </a> @*<a href="#">Stan Lee</a>*@</p>
                                                        </div>  
                                                        <div class="sb-it">
                                                            <h6>Warning : </h6>
                                                            <p><a href="#"> @Model.WariningNotice </a> @*<a href="#">Stan Lee</a>*@</p>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                @*<h4>Videos & Photos</h4>
                                                    <a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>*@
                                                <div class="sb-tags sb-it">
                                                    <h4 class="sb-title">tags</h4>
                                                    <ul class="tag-items">
                                                        @foreach (var i in Model.Tags)
                                                        {
                                                            <li><a href="#">@i.Tag.Name</a></li>


                                                        }

                                                    </ul>
                                                </div>
                                            </div>
                                            <!---->
                                            @*<div class="mvsingle-item ov-item">
                                                    <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image41.jpg"><img src="images/uploads/image4.jpg" alt=""></a>
                                                    <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image51.jpg"><img src="images/uploads/image5.jpg" alt=""></a>
                                                    <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image61.jpg"><img src="images/uploads/image6.jpg" alt=""></a>
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/image7.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="title-hd-sm">
                                                    <h4>cast</h4>
                                                    <a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
                                                </div>
                                                <!-- movie cast -->
                                                <div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="images/uploads/cast1.jpg" alt="">
                                                            <a href="#">Robert Downey Jr.</a>
                                                        </div>
                                                        <p>...  Robert Downey Jr.</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="images/uploads/cast2.jpg" alt="">
                                                            <a href="#">Chris Hemsworth</a>
                                                        </div>
                                                        <p>...  Thor</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="images/uploads/cast3.jpg" alt="">
                                                            <a href="#">Mark Ruffalo</a>
                                                        </div>
                                                        <p>...  Bruce Banner/ Hulk</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="images/uploads/cast4.jpg" alt="">
                                                            <a href="#">Chris Evans</a>
                                                        </div>
                                                        <p>...  Steve Rogers/ Captain America</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="images/uploads/cast5.jpg" alt="">
                                                            <a href="#">Scarlett Johansson</a>
                                                        </div>
                                                        <p>...  Natasha Romanoff/ Black Widow</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="images/uploads/cast6.jpg" alt="">
                                                            <a href="#">Jeremy Renner</a>
                                                        </div>
                                                        <p>...  Clint Barton/ Hawkeye</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="images/uploads/cast7.jpg" alt="">
                                                            <a href="#">James Spader</a>
                                                        </div>
                                                        <p>...  Ultron</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img src="images/uploads/cast9.jpg" alt="">
                                                            <a href="#">Don Cheadle</a>
                                                        </div>
                                                        <p>...  James Rhodes/ War Machine</p>
                                                    </div>
                                                </div>
                                                <div class="title-hd-sm">
                                                    <h4>User reviews</h4>
                                                    <a href="#" class="time">See All 56 Reviews <i class="ion-ios-arrow-right"></i></a>
                                                </div>
                                                <!-- movie user review -->
                                                <div class="mv-user-review-item">
                                                    <h3>Best Marvel movie in my opinion</h3>
                                                    <div class="no-star">
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star last"></i>
                                                    </div>
                                                    <p class="time">
                                                        17 December 2016 by <a href="#"> hawaiipierson</a>
                                                    </p>
                                                    <p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
                                                </div>*@

                                        </div>
                                        @*<div class="col-md-4 col-xs-12 col-sm-12">
                                                <div class="sb-it">
                                                    <h6>Director: </h6>
                                                    <p><a href="#">Mark Cendrowski</a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Writer: </h6>
                                                    <p><a href="#"> Chuck Lorre,</a> <a href="#">Bill Prady</a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Stars: </h6>
                                                    <p><a href="#">Robert Downey Jr,</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Genres:</h6>
                                                    <p><a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Release Date:</h6>
                                                    <p>1 May 2006 (U.S.A)</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Run Time:</h6>
                                                    <p>22 min</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>MMPA Rating:</h6>
                                                    <p>TV-14</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Plot Keywords:</h6>
                                                    <p class="tags">
                                                        <span class="time"><a href="#">superhero</a></span>
                                                        <span class="time"><a href="#">marvel universe</a></span>
                                                        <span class="time"><a href="#">comic</a></span>
                                                        <span class="time"><a href="#">blockbuster</a></span>
                                                        <span class="time"><a href="#">final battle</a></span>
                                                    </p>
                                                </div>
                                                <div class="ads">
                                                    <img src="images/uploads/ads1.png" alt="">
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                                <div id="reviews" class="tab review">
                                    <div class="row">
                                        <div class="rv-hd">
                                             
                                            </div>
                                            <div class="topbar-filter">
                                                <p>Found <span>@review.Count()  reviews</span> in total</p>
                                                @*<label>Filter by:</label>
                                                <select>
                                                    <option value="range">-- Choose option --</option>
                                                    <option value="saab">-- Choose option 2--</option>
                                                </select>*@
                                            </div>  
                                        <div id="review-List">

                                        </div>
                                       
                                            @*<div class="mv-user-review-item">
                                                <div class="user-infor">
                                                    <img src="images/uploads/userava2.jpg" alt="">
                                                    <div>
                                                        <h3>Just about as good as the first one!</h3>
                                                        <div class="no-star">
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                        </div>
                                                        <p class="time">
                                                            17 December 2016 by <a href="#"> hawaiipierson</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <p>Avengers Age of Ultron is an excellent sequel and a worthy MCU title! There are a lot of good and one thing that feels off in my opinion. </p>

                                                <p>THE GOOD:</p>

                                                <p>First off the action in this movie is amazing, to buildings crumbling, to evil blue eyed robots tearing stuff up, this movie has the action perfectly handled. And with that action comes visuals. The visuals are really good, even though you can see clearly where they are through the movie, but that doesn't detract from the experience. While all the CGI glory is taking place, there are lovable characters that are in the mix. First off the original characters, Iron Man, Captain America, Thor, Hulk, Black Widow, and Hawkeye, are just as brilliant as they are always. And Joss Whedon fixed my main problem in the first Avengers by putting in more Hawkeye and him more fleshed out. Then there is the new Avengers, Quicksilver, Scarletwich, and Vision, they are pretty cool in my opinion. Vision in particular is pretty amazing in all his scenes.</p>

                                                <p>THE BAD:</p>

                                                <p>The beginning of the film it's fine until towards the second act and there is when it starts to feel a little rushed. Also I do feel like there are scenes missing but there was talk of an extended version on Blu-Ray so that's cool.</p>
                                            </div>*@
                                            
                                            <div class="topbar-filter">
                                                <label>Reviews per page:</label>
                                                <select>
                                                    <option value="10">10 Reviews</option>
                                                    <option value="20">20 Reviews</option>
                                                </select> 
                                                <div id="paginationLink">

                                                </div>
                                                @*<div class="pagination2">
                                                    <span>Page 1 of 6:</span>
                                                    <a class="active" href="#">1</a>
                                                    <a href="#">2</a>
                                                    <a href="#">3</a>
                                                    <a href="#">4</a>
                                                    <a href="#">5</a>
                                                    <a href="#">6</a>
                                                    <a href="#"><i class="ion-arrow-right-b"></i></a>
                                                </div>*@
                                            </div>
                                    </div>
                                </div>
                                <div id="cast" class="tab">
                                    <div class="row">
                                        <h3>@Model.Chapters.Count Chapters</h3>

                                        <!-- //== -->
                                        @*<div class="title-hd-sm">
                                                <h4>Directors & Credit Writers</h4>
                                            </div>*@
                                        @foreach (var i in Model.Chapters)
                                        {

                                            <div class="mvcast-item">
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        @*<h4>JW</h4>*@
                                                        <a href="#">@i.Name</a>
                                                    </div>
                                                    @*<p>...  Director</p>*@
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                                <div id="media" class="tab">
                                    @*<div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Videos & Photos of</h3>
                                                    <h2>The Big Bang Theory</h2>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>Videos <span>(8)</span></h4>
                                            </div>
                                            <div class="mvsingle-item media-item">
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
                                                        <p class="time"> 1: 03</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Robert Downey Jr</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Scarlett Johansson</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Director Joss Whedon</a></h6>
                                                        <p class="time"> 1: 03</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Mark Ruffalo</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Official Trailer #2</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>Photos <span> (21)</span></h4>
                                            </div>
                                            <div class="mvsingle-item">
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image11.jpg"><img src="images/uploads/image1.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image21.jpg"><img src="images/uploads/image2.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image31.jpg"><img src="images/uploads/image3.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image41.jpg"><img src="images/uploads/image4.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image51.jpg"><img src="images/uploads/image5.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image61.jpg"><img src="images/uploads/image6.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image71.jpg"><img src="images/uploads/image7.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image81.jpg"><img src="images/uploads/image8.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image91.jpg"><img src="images/uploads/image9.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image101.jpg"><img src="images/uploads/image10.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image111.jpg"><img src="images/uploads/image1-1.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image121.jpg"><img src="images/uploads/image12.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image131.jpg"><img src="images/uploads/image13.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image141.jpg"><img src="images/uploads/image14.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image151.jpg"><img src="images/uploads/image15.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image161.jpg"><img src="images/uploads/image16.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image171.jpg"><img src="images/uploads/image17.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image181.jpg"><img src="images/uploads/image18.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image191.jpg"><img src="images/uploads/image19.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image201.jpg"><img src="images/uploads/image20.jpg" alt=""></a>
                                                <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image211.jpg"><img src="images/uploads/image2-1.jpg" alt=""></a>
                                            </div>
                                        </div>*@
                                </div>

                                <div id="moviesrelated" class="tab">
                                    @*<div class="row">
                                            <h3>Related Movies To</h3>
                                            <h2>Skyfall: Quantum of Spectre</h2>
                                            <div class="topbar-filter">
                                                <p>Found <span>12 movies</span> in total</p>
                                                <label>Sort by:</label>
                                                <select>
                                                    <option value="popularity">Popularity Descending</option>
                                                    <option value="popularity">Popularity Ascending</option>
                                                    <option value="rating">Rating Descending</option>
                                                    <option value="rating">Rating Ascending</option>
                                                    <option value="date">Release date Descending</option>
                                                    <option value="date">Release date Ascending</option>
                                                </select>
                                            </div>
                                            <div class="movie-item-style-2">
                                                <img src="images/uploads/mv1.jpg" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a href="#">oblivion <span>(2012)</span></a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                                    <p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
                                                    <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                                                    <p>Director: <a href="#">Joss Whedon</a></p>
                                                    <p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
                                                </div>
                                            </div>
                                            <div class="movie-item-style-2">
                                                <img src="images/uploads/mv2.jpg" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a href="#">into the wild <span>(2014)</span></a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
                                                    <p class="describe">As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat...</p>
                                                    <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                                                    <p>Director: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
                                                    <p>Stars: <a href="#">Chris Evans,</a> <a href="#">Samuel L. Jackson,</a> <a href="#">  Scarlett Johansson</a></p>
                                                </div>
                                            </div>
                                            <div class="movie-item-style-2">
                                                <img src="images/uploads/mv3.jpg" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a href="#">blade runner  <span>(2015)</span></a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
                                                    <p class="describe">Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help...</p>
                                                    <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                                                    <p>Director: <a href="#">Peyton Reed</a></p>
                                                    <p>Stars: <a href="#">Paul Rudd,</a> <a href="#"> Michael Douglas</a></p>
                                                </div>
                                            </div>
                                            <div class="movie-item-style-2">
                                                <img src="images/uploads/mv4.jpg" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a href="#">Mulholland pride<span> (2013)  </span></a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>7.2</span> /10</p>
                                                    <p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
                                                    <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                                                    <p>Director: <a href="#">Shane Black</a></p>
                                                    <p>Stars: <a href="#">Robert Downey Jr., </a> <a href="#">  Guy Pearce,</a><a href="#">Don Cheadle</a></p>
                                                </div>
                                            </div>
                                            <div class="movie-item-style-2">
                                                <img src="images/uploads/mv5.jpg" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a href="#">skyfall: evil of boss<span> (2013)  </span></a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>7.0</span> /10</p>
                                                    <p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
                                                    <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                                                    <p>Director: <a href="#">Alan Taylor</a></p>
                                                    <p>Stars: <a href="#">Chris Hemsworth,  </a> <a href="#">  Natalie Portman,</a><a href="#">Tom Hiddleston</a></p>
                                                </div>
                                            </div>
                                            <div class="topbar-filter">
                                                <label>Movies per page:</label>
                                                <select>
                                                    <option value="range">5 Movies</option>
                                                    <option value="saab">10 Movies</option>
                                                </select>
                                                <div class="pagination2">
                                                    <span>Page 1 of 2:</span>
                                                    <a class="active" href="#">1</a>
                                                    <a href="#">2</a>
                                                    <a href="#"><i class="ion-arrow-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Css
{
    <style>
        .rate-box {
            padding-bottom: 4px;
        }
    </style>
}

@section Scripts
{

    <script type='text/javascript' src='~/asset/rating/rater.min.js'></script>
    <script>
        var options = {
            max_value: 5,
            step_size: 0.2,
        }
        $(".rating").rate(options);
    </script>
    <script>
        $("#shareAll").click(function() {
            if (navigator.share) {
                navigator.share({
                        title: "@Model.Name",
                        text: "@Model.Title",
                        url: '@pageLink'
                    })
                    .then(() => console.log('Successful share'))
                    .catch((error) => alert('Error sharing', error));
            }
        })
    </script>

    <script>
        $("#addToFavorite").click(function(event) {
            event.preventDefault();
            if (isLogin == false) {
                toastr.info("Please Login to continue");
            } else {
                //process add 
                $.ajax("/Novel/AddToLibrary/" + @Model.Id,
                    {
                        type: "get",
                        success: function(m) {
                            toastr.success(m);
                        },
                        error: function(err) {
                            toastr.error("Something went wrong");
                            console.log(err);
                        }
                    });
            }
        })
    </script>
    <script>
        //reviews 
        var pageSize = 10;
        $(function() {
            //load review 

            loadReviews(@Model.Id, 1, pageSize);
        });

        function loadReviews(novelId, page, count) {
            $.ajax(`/Novel/GetComment/?novelId=${novelId}&page=${page}&count=${count}`,
                {
                    type: "get",
                    before: function() {

                    },
                    complete: function() {

                    },
                    success: function(data) {
                        var html = '';
                        if (data.data != null) {
                            for (var i of data.data) {
                                html += ` <div class="mv-user-review-item">
                                                <div class="user-infor">
                                                    <img src="${i.user.profileImage}" height= "150" alt="">
                                                    <div class="row" style="width: 100%;">
                                                       ${displayRating(i.ratings)}
                                                        <p class="time">
                                                            ${i.dateTime} by <a href="#"> ${i.user.displayName}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <p>${i.comment}</p>
                                            </div>`;
                            }
                            $("#review-List").html(html);
                           var pager = buildPagination(data.page.pageCount, data.page.pageNumber);
                            $("#paginationLink").html(pager);
                        }
                    }

                });
        }

        function displayRating(rating) {
            var html = "";
            for (var i of rating) {
                var rateValue = i.value;
                var stars = renderStars(rateValue);
                html += `  <div class="col-xs-6 rate-box">
                                                        <h3>${i.ratingType.name}</h3>
                                                        <div class="no-star">
                                                            ${stars}
                                                        </div>
                        </div>
    `;
            }
            return html;
        }

        function renderStars(rateValue) {
            var stars = '';
            var fullStar = parseInt(rateValue);
            var halfStar = rateValue - fullStar;
            if (halfStar > 0) {
                halfStar = 1;
            } else {
                halfStar = 0;
            }
            var emptyStar = 5 - (fullStar + halfStar);
            for (var s = 0; s < fullStar; s++) {
                stars += '<i class="ion-ios-star"></i>';
            }

            if (halfStar > 0) {
                stars += '<i class="ion-ios-star-half"></i>';
            }
            for (var i = 0; i < emptyStar; i++) {
                stars += '<i class="ion-ios-star-outline"></i>';
            }

            return stars;
        }

        function buildPagination(pageCount, currentPage) {

            var pageItem = "";
            for (var i = 1; i <= pageCount; i++) {
                if (i == currentPage) {
                    pageItem += `<a  class="active" href="#" onclick="loadReviews(@Model.Id, ${i}, ${pageSize})">${i
                        }</a>`;
                } else {
                    pageItem += `<a href="#" onclick="loadReviews(@Model.Id, ${i}, ${pageSize})"> ${i}</a>`;
                }
            }
            if (pageCount > 0) {
                pageItem += `       <a href="#"><i class="ion-arrow-right-b"></i></a>`;
            }
            var html = `   <div class="pagination2">
                                                    <span>Page ${currentPage} of  ${pageCount}:</span>
                                                   ${pageItem}
                                                </div>`;
            return html;
        }

    </script>
}
<div class="rate-star">
    @*<p>Rate This Movie:  </p>*@
    @*<i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>*@
    @*@{
        var fullStar = (int)rateAverage;
        var halfStar = rateAverage - fullStar;
        if (halfStar > 0)
        {
            halfStar = 1;
        }
        else
        {
            halfStar = 0;
        }
        var emptyStar = 5 - (fullStar + halfStar);
    }

    @for (int i = 0; i < fullStar; i++)
    {
        <i class="ion-ios-star"></i>
    }
    @if (halfStar > 0)
    {
        <i class="ion-ios-star-half"></i>
    }
    @for (var i = 0;i < emptyStar; i++ )
    {

        <i class="ion-ios-star-outline"></i>
    }*@

</div>