@model Webnovel.Entities.Novel

@using CloudinaryDotNet
@using Webnovel.Repository
@using Webnovel.Services

@inject INovel Novel

@{
    ViewBag.Title = "Novel - " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cloudinary = new Cloudinary(new Account()
    {
        ApiKey = CloudinaryUpload.apiKey,
        ApiSecret = CloudinaryUpload.apiSecret,
        Cloud = CloudinaryUpload.cloud,
    });
    var img = cloudinary.Api.UrlImgFetch.
        Transform(new Transformation()
            .Height(500).Width(500).Crop("fill")).BuildUrl(Model.CoverPageImageUrl);

    var Novels = await Novel.GetAllNovels();

}

<div class="container">
    <div class="site-content__inner">
        <div id="primary" class="content-area">
            <div id="movie-718" class="post-718 movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-mystery movie_tag-brother movie_tag-hero movie_tag-premieres movie_tag-viking">
                <div class="single-movie__player-container stretch-full-width" style="background-image: url();">
                    <div class="single-movie__player-container--inner container">
                        <nav class="masvideos-breadcrumb">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                            <span class="delimiter"><svg width="4px" height="7px"><path fill-rule="evenodd" d="M3.978,3.702 C3.986,3.785 3.966,3.868 3.903,3.934 L1.038,6.901 C0.920,7.022 0.724,7.029 0.598,6.916 L0.143,6.506 C0.017,6.393 0.010,6.203 0.127,6.082 L2.190,3.945 C2.276,3.829 2.355,3.690 2.355,3.548 C2.355,3.214 1.947,2.884 1.947,2.884 L1.963,2.877 L0.080,0.905 C-0.037,0.783 -0.029,0.593 0.095,0.479 L0.547,0.068 C0.671,-0.045 0.866,-0.039 0.983,0.083 L3.823,3.056 C3.866,3.102 3.875,3.161 3.885,3.218 C3.945,3.267 3.988,3.333 3.988,3.415 L3.988,3.681 C3.988,3.689 3.979,3.694 3.978,3.702 Z"></path></svg></span>
                            <a href="@Url.Action("Novels", "Home")">Novels</a>

                            <span class="delimiter"><svg width="4px" height="7px"><path fill-rule="evenodd" d="M3.978,3.702 C3.986,3.785 3.966,3.868 3.903,3.934 L1.038,6.901 C0.920,7.022 0.724,7.029 0.598,6.916 L0.143,6.506 C0.017,6.393 0.010,6.203 0.127,6.082 L2.190,3.945 C2.276,3.829 2.355,3.690 2.355,3.548 C2.355,3.214 1.947,2.884 1.947,2.884 L1.963,2.877 L0.080,0.905 C-0.037,0.783 -0.029,0.593 0.095,0.479 L0.547,0.068 C0.671,-0.045 0.866,-0.039 0.983,0.083 L3.823,3.056 C3.866,3.102 3.875,3.161 3.885,3.218 C3.945,3.267 3.988,3.333 3.988,3.415 L3.988,3.681 C3.988,3.689 3.979,3.694 3.978,3.702 Z"></path></svg></span>Black Mirror
                        </nav>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="movie__head">
                                    <div class="movie__player">
                                        <div class="wp-video">
                                            <img class="img img-fluid" src="@img" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-8">
                                <div class="summary entry-summary">
                                    <h1 class="movie_title entry-title">@Model.Name</h1>
                                    <div class="movie__info--head">
                                        <div class="movie__meta">
                                            <span class="movie__meta--release-year">By @Model.Author.Title</span>
                                            <span class="movie__meta--genre"><a href="#" rel="tag">@Model.Category.Name</a> </span>
                                        </div>
                                        <div class="movie__rating-with-playlist">
                                            <span class="pr-2">
                                                <i class="fa fa-star fa-2x " style="color: gold"></i><i class="fa fa-star fa-2x " style="color: gold"></i> <i class="fa fa-star fa-2x " style="color: gold"></i> 3.5 rating
                                            </span>
                                            <a href="@Url.Action("SaveNovel", new{NovelId = Model.Id})" style="color: #00bfff"> <i class="fa fa-2x fa-heart"></i> Save</a>
                                            <a href="@Url.Action("ReadNovel","Novel", new{id=Model.Id})" class="link pr-2" ata-toggle="dropdown"> <i class="fa fa-2x fa-envelope-open"></i> Read</a>

                                        </div>
                                    </div>
                                    <div class="vodi-views-likes p-3">
                                        <div class="vodi-jetpack-views">
                                            <span>343 views</span>
                                        </div>

                                    </div>
                                    <div class="movie__description">
                                        <div style="height: auto; max-height: none;">
                                            @Model.Title;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            @{

            }

            <section class="movie__related">
                <div class="movie__related--inner">
                    <h2 class="movie__related--title">You Also May Like</h2>
                    <div class="masvideos masvideos-movies ">
                        <div class="movies columns-8">
                            <div class="movies__inner">
                                @foreach (var c in Novels.Where(a => a.CategoryId == Model.CategoryId).TakeLast(8).ToList())
                                {
                                    var img2 = cloudinary.Api.UrlImgFetch.
                                        Transform(new Transformation()
                                            .Height(450).Width(300).Crop("fill")).BuildUrl(Model.CoverPageImageUrl);
                                    <div class="post-278 movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-biography movie_tag-4k-ultra movie_tag-brother movie_tag-king movie_tag-viking">
                                        <div class="movie__poster">
                                            <a href="@Url.Action("Novel","Home", new {id=c.Id})" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link">
                                                <img width="300" height="450" src="@img2" class="movie__poster--image lazyloaded" alt="" data-was-processed="true">
                                            </a>
                                        </div>
                                        <div class="movie__body">
                                            <div class="movie__info">
                                                <div class="movie__info--head">
                                                    <div class="movie__meta">
                                                        @*<span class="movie__meta--release-year">2018</span>*@
                                                        <span class="movie__meta--genre"><a href="@Url.Action("Novels", new{categoryId = c.CategoryId})" rel="tag">@c.Category.Name</a>, <a href="@Url.Action("AuthorNovels", new{authorId = c.AuthorId})" rel="tag">@*@c.Author.Title*@</a></span>
                                                    </div>
                                                    <a href="@Url.Action("Novel", new{id =c.Id })" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link">
                                                        <h3 class="masvideos-loop-movie__title  movie__title">@c.Name</h3>
                                                    </a>
                                                </div>
                                                <div class="movie__short-description">
                                                    <div>
                                                        <p>@c.Title</p>
                                                    </div>
                                                </div>
                                                <div class="movie__actions">
                                                    <a href="@Url.Action("ReadNovel","Novel", new{id=c.Id})" class="movie-actions--link_watch">Read Now</a>
                                                    <div class="movie-actions--link_add-to-playlist dropdown">
                                                        <a href="@Url.Action("SaveNovel", new{NovelId = c.Id})" class="link pr-2" style="color: #00bfff" data-toggle="dropdown"> <i class="fa fa-heart"></i>+ Save</a>


                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="movie__review-info">
                                                    <a href="#" class="avg-rating"> <span class="rating-with-count"> <svg class="vodi-svg" width="40px" height="39px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39"><title>play</title><path fill-rule="evenodd" d="M19.633,-0.000 C21.509,0.035 21.530,1.174 22.167,2.414 C23.329,4.679 24.406,7.067 25.572,9.338 C25.853,9.886 26.431,11.640 26.918,11.834 C27.486,12.203 29.345,12.109 30.165,12.316 C32.170,12.825 34.489,12.860 36.500,13.364 C37.516,13.618 38.689,13.413 39.430,13.927 C39.689,14.107 39.770,14.504 39.984,14.732 C40.047,16.499 39.096,16.843 38.163,17.792 C36.473,19.509 34.784,21.227 33.095,22.944 C32.585,23.462 31.092,24.543 31.036,25.359 C31.423,25.951 31.307,27.455 31.511,28.258 C32.138,30.727 32.213,33.522 32.857,35.987 C33.142,37.078 33.016,38.241 32.303,38.724 C31.108,39.533 29.632,38.193 28.819,37.758 C26.695,36.623 24.601,35.624 22.483,34.457 C21.979,34.179 20.607,33.178 20.108,33.088 C19.748,33.023 18.163,34.107 17.812,34.296 C15.557,35.505 13.340,36.640 11.080,37.839 C10.548,38.120 9.180,39.226 8.309,38.966 C6.955,38.558 6.874,36.993 7.280,35.423 C7.716,33.733 7.697,31.880 8.151,30.109 C8.527,28.642 8.907,26.529 9.022,24.957 C8.092,24.344 7.202,23.107 6.408,22.300 C4.760,20.625 3.059,18.990 1.340,17.389 C0.646,16.742 -0.578,15.515 0.311,14.249 C0.915,13.388 2.364,13.656 3.557,13.364 C6.678,12.599 10.114,12.468 13.298,11.834 C14.186,9.747 15.306,7.711 16.307,5.716 C16.954,4.426 17.496,3.163 18.128,1.931 C18.334,1.531 18.358,1.093 18.603,0.724 C18.845,0.362 19.299,0.273 19.633,-0.000 Z"></path></svg> <span class="avg-rating-number"> 8.0</span> </span> <span class="rating-number-with-text"> <span class="avg-rating-number"> 8.0</span> <span class="avg-rating-text"> <span>1</span> Vote </span> </span> </a>
                                                    <div class="viewers-count"></div>
                                                </div>*@
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="masvideos-tabs movie-tabs">
                <ul class="nav">

                    <li class="nav-item">
                        <a href="#tab-5cf3c4ee2de34reviews" data-toggle="tab" class="nav-link"> Review </a>
                    </li>
                </ul>
                <div id="reviews" class="masvideos-Reviews">
                    <div id="review_form_wrapper">
                        <div id="review_form">
                            <div id="respond" class="comment-respond">
                                <span id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></span>
                                <form action="https://demo2.madrasthemes.com/vodi-demos/main/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
                                    <p class="comment-notes">
                                        <span id="email-notes">Your email address will not be published.</span> Required fields are marked
                                        <span class="required">*</span>
                                    </p>
                                    <p class="comment-form-comment">
                                        <label for="comment">Your review&nbsp;<span class="required">*</span></label>
                                        <textarea id="comment" name="comment" cols="45" rows="8" required=""></textarea>
                                    </p>
                                    <p class="comment-form-author">
                                        <label for="author">Name&nbsp;<span class="required">*</span></label>
                                        <input id="author" name="author" type="text" value="" size="30" required="">
                                    </p>
                                    <p class="comment-form-email">
                                        <label for="email">Email&nbsp;<span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="" size="30" required="">
                                    </p>
                                    <p class="comment-form-cookies-consent">
                                        <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                        <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                    </p>
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Submit">
                                        <input type="hidden" name="comment_post_ID" value="718" id="comment_post_ID">
                                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="comments">
                        <ol class="commentlist">
                            <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-54">
                                <div id="comment-54" class="comment_container">
                                    <img alt="" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2060%2060'%3E%3C/svg%3E" data-lazy-srcset="https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" data-lazy-src="https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=60&amp;d=mm&amp;r=g">
                                    <noscript><img alt='' src='https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=60&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=120&#038;d=mm&#038;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' /></noscript>
                                    <div class="comment-text">
                                        <p class="meta">
                                            <strong class="masvideos-review__author">abbas </strong>
                                            <time class="masvideos-review__published-date" datetime="2019-03-01T05:18:47+05:30">March 1, 2019</time>
                                        </p>
                                        <div class="description">
                                            <p>8 star</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="comment byuser comment-author-admin bypostauthor odd alt thread-odd thread-alt depth-1" id="li-comment-55">
                                <div id="comment-55" class="comment_container">
                                    <img alt="" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2060%2060'%3E%3C/svg%3E" data-lazy-srcset="https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" data-lazy-src="https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=60&amp;d=mm&amp;r=g">
                                    <noscript><img alt='' src='https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=60&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=120&#038;d=mm&#038;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' /></noscript>
                                    <div class="comment-text">
                                        <p class="meta">
                                            <strong class="masvideos-review__author">imran </strong>
                                            <time class="masvideos-review__published-date" datetime="2019-03-21T08:04:38+05:30">March 21, 2019</time>
                                        </p>
                                        <div class="description">
                                            <p>Good</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-56">
                                <div id="comment-56" class="comment_container">
                                    <img alt="" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2060%2060'%3E%3C/svg%3E" data-lazy-srcset="https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" data-lazy-src="https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=60&amp;d=mm&amp;r=g">
                                    <noscript><img alt='' src='https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=60&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/8ef62a38ce69806ea7691f0724a7e968?s=120&#038;d=mm&#038;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' /></noscript>
                                    <div class="comment-text">
                                        <p class="meta">
                                            <strong class="masvideos-review__author">nilofer </strong>
                                            <time class="masvideos-review__published-date" datetime="2019-03-21T08:24:26+05:30">March 21, 2019</time>
                                        </p>
                                        <div class="description">
                                            <p>Must Watch .</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <section class="movie__recommended">
                <h2 class="movie__recommended--title">We Recommend</h2>
                <div class="masvideos masvideos-movies ">
                    <div class="movies columns-4">
                        <div class="movies__inner">
                            <div class="post-314 movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-documentary movie_tag-4k-ultra movie_tag-king movie_tag-premieres movie_tag-viking">
                                <div class="movie__poster">
                                    <a href="../my-generation/index.html" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link"><img width="600" height="900" src="../../wp-content/uploads/sites/2/2019/04/32-a-long-way-down-600x900.jpg" class="movie__poster--image lazyloaded" alt="" data-lazy-srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-150x225.jpg 150w" data-lazy-sizes="(max-width: 600px) 100vw, 600px" data-lazy-src="../../wp-content/uploads/sites/2/2019/04/32-a-long-way-down-600x900.jpg" sizes="(max-width: 600px) 100vw, 600px" srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-150x225.jpg 150w" data-was-processed="true"><noscript><img width="600" height="900" src="../../wp-content/uploads/sites/2/2019/04/32-a-long-way-down-600x900.jpg" class="movie__poster--image" alt="" srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/32-a-long-way-down-150x225.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a>
                                </div>
                                <div class="movie__body">
                                    <div class="movie__info">
                                        <div class="movie__info--head">
                                            <div class="movie__meta">
                                                <span class="movie__meta--release-year">2018</span>
                                                <span class="movie__meta--genre"><a href="../../movie-genre/action/index.html" rel="tag">Action</a>, <a href="../../movie-genre/documentary/index.html" rel="tag">Documentary</a></span>
                                            </div>
                                            <a href="../my-generation/index.html" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link">
                                                <h3 class="masvideos-loop-movie__title  movie__title">My Generation</h3>
                                            </a>
                                        </div>
                                        <div class="movie__short-description">
                                            <div>
                                                <p>The cultural revolution that occurred in the 1960s England is explored in this documentary.</p>
                                            </div>
                                        </div>
                                        <div class="movie__actions">
                                            <a href="../my-generation/index.html" class="movie-actions--link_watch">Watch Now</a>
                                            <div class="movie-actions--link_add-to-playlist dropdown">
                                                <a class="dropdown-toggle" href="../my-generation/index.html" data-toggle="dropdown">+ Playlist</a>
                                                <div class="dropdown-menu">
                                                    <a class="login-link" href="../../my-account/movie-playlists/index.html">Sign in to add this movie to a playlist.</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="movie__review-info">
                                        <a href="../my-generation/index.html#reviews" class="avg-rating"> <span class="rating-with-count"> <svg class="vodi-svg" width="40px" height="39px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39"><title>play</title><path fill-rule="evenodd" d="M19.633,-0.000 C21.509,0.035 21.530,1.174 22.167,2.414 C23.329,4.679 24.406,7.067 25.572,9.338 C25.853,9.886 26.431,11.640 26.918,11.834 C27.486,12.203 29.345,12.109 30.165,12.316 C32.170,12.825 34.489,12.860 36.500,13.364 C37.516,13.618 38.689,13.413 39.430,13.927 C39.689,14.107 39.770,14.504 39.984,14.732 C40.047,16.499 39.096,16.843 38.163,17.792 C36.473,19.509 34.784,21.227 33.095,22.944 C32.585,23.462 31.092,24.543 31.036,25.359 C31.423,25.951 31.307,27.455 31.511,28.258 C32.138,30.727 32.213,33.522 32.857,35.987 C33.142,37.078 33.016,38.241 32.303,38.724 C31.108,39.533 29.632,38.193 28.819,37.758 C26.695,36.623 24.601,35.624 22.483,34.457 C21.979,34.179 20.607,33.178 20.108,33.088 C19.748,33.023 18.163,34.107 17.812,34.296 C15.557,35.505 13.340,36.640 11.080,37.839 C10.548,38.120 9.180,39.226 8.309,38.966 C6.955,38.558 6.874,36.993 7.280,35.423 C7.716,33.733 7.697,31.880 8.151,30.109 C8.527,28.642 8.907,26.529 9.022,24.957 C8.092,24.344 7.202,23.107 6.408,22.300 C4.760,20.625 3.059,18.990 1.340,17.389 C0.646,16.742 -0.578,15.515 0.311,14.249 C0.915,13.388 2.364,13.656 3.557,13.364 C6.678,12.599 10.114,12.468 13.298,11.834 C14.186,9.747 15.306,7.711 16.307,5.716 C16.954,4.426 17.496,3.163 18.128,1.931 C18.334,1.531 18.358,1.093 18.603,0.724 C18.845,0.362 19.299,0.273 19.633,-0.000 Z"></path></svg> <span class="avg-rating-number"> 10.0</span> </span> <span class="rating-number-with-text"> <span class="avg-rating-number"> 10.0</span> <span class="avg-rating-text"> <span>1</span> Vote </span> </span> </a>
                                        <div class="viewers-count"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-280 movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_tag-brother movie_tag-king movie_tag-premieres movie_tag-viking">
                                <span class="movie__badge"><span class="movie__badge--featured">Featured</span></span>
                                <div class="movie__poster">
                                    <a href="../game-night/index.html" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link"><img width="600" height="900" src="../../wp-content/uploads/sites/2/2019/04/15-600x900.jpg" class="movie__poster--image lazyloaded" alt="" data-lazy-srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-200x300.jpg 200w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-150x225.jpg 150w" data-lazy-sizes="(max-width: 600px) 100vw, 600px" data-lazy-src="../../wp-content/uploads/sites/2/2019/04/15-600x900.jpg" sizes="(max-width: 600px) 100vw, 600px" srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-200x300.jpg 200w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-150x225.jpg 150w" data-was-processed="true"><noscript><img width="600" height="900" src="../../wp-content/uploads/sites/2/2019/04/15-600x900.jpg" class="movie__poster--image" alt="" srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-200x300.jpg 200w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/15-150x225.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a>
                                </div>
                                <div class="movie__body">
                                    <div class="movie__info">
                                        <div class="movie__info--head">
                                            <div class="movie__meta">
                                                <span class="movie__meta--release-year">2018</span>
                                                <span class="movie__meta--genre"><a href="../../movie-genre/action/index.html" rel="tag">Action</a>, <a href="../../movie-genre/adventure/index.html" rel="tag">Adventure</a></span>
                                            </div>
                                            <a href="../game-night/index.html" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link">
                                                <h3 class="masvideos-loop-movie__title  movie__title">Game Night</h3>
                                            </a>
                                        </div>
                                        <div class="movie__short-description">
                                            <div>
                                                <p>A group of friends who meet regularly for game nights find themselves entangled in a real-life mystery when the shady brother of one of them is seemingly kidnapped by dangerous gangsters.</p>
                                            </div>
                                        </div>
                                        <div class="movie__actions">
                                            <a href="../game-night/index.html" class="movie-actions--link_watch">Watch Now</a>
                                            <div class="movie-actions--link_add-to-playlist dropdown">
                                                <a class="dropdown-toggle" href="../game-night/index.html" data-toggle="dropdown">+ Playlist</a>
                                                <div class="dropdown-menu">
                                                    <a class="login-link" href="../../my-account/movie-playlists/index.html">Sign in to add this movie to a playlist.</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="movie__review-info">
                                        <a href="../game-night/index.html#reviews" class="avg-rating"> <span class="rating-with-count"> <svg class="vodi-svg" width="40px" height="39px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39"><title>play</title><path fill-rule="evenodd" d="M19.633,-0.000 C21.509,0.035 21.530,1.174 22.167,2.414 C23.329,4.679 24.406,7.067 25.572,9.338 C25.853,9.886 26.431,11.640 26.918,11.834 C27.486,12.203 29.345,12.109 30.165,12.316 C32.170,12.825 34.489,12.860 36.500,13.364 C37.516,13.618 38.689,13.413 39.430,13.927 C39.689,14.107 39.770,14.504 39.984,14.732 C40.047,16.499 39.096,16.843 38.163,17.792 C36.473,19.509 34.784,21.227 33.095,22.944 C32.585,23.462 31.092,24.543 31.036,25.359 C31.423,25.951 31.307,27.455 31.511,28.258 C32.138,30.727 32.213,33.522 32.857,35.987 C33.142,37.078 33.016,38.241 32.303,38.724 C31.108,39.533 29.632,38.193 28.819,37.758 C26.695,36.623 24.601,35.624 22.483,34.457 C21.979,34.179 20.607,33.178 20.108,33.088 C19.748,33.023 18.163,34.107 17.812,34.296 C15.557,35.505 13.340,36.640 11.080,37.839 C10.548,38.120 9.180,39.226 8.309,38.966 C6.955,38.558 6.874,36.993 7.280,35.423 C7.716,33.733 7.697,31.880 8.151,30.109 C8.527,28.642 8.907,26.529 9.022,24.957 C8.092,24.344 7.202,23.107 6.408,22.300 C4.760,20.625 3.059,18.990 1.340,17.389 C0.646,16.742 -0.578,15.515 0.311,14.249 C0.915,13.388 2.364,13.656 3.557,13.364 C6.678,12.599 10.114,12.468 13.298,11.834 C14.186,9.747 15.306,7.711 16.307,5.716 C16.954,4.426 17.496,3.163 18.128,1.931 C18.334,1.531 18.358,1.093 18.603,0.724 C18.845,0.362 19.299,0.273 19.633,-0.000 Z"></path></svg> <span class="avg-rating-number"> 8.0</span> </span> <span class="rating-number-with-text"> <span class="avg-rating-number"> 8.0</span> <span class="avg-rating-text"> <span>1</span> Vote </span> </span> </a>
                                        <div class="viewers-count"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-306 movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-thriller movie_tag-4k-ultra movie_tag-brother movie_tag-premieres movie_tag-viking">
                                <div class="movie__poster">
                                    <a href="../black-water/index.html" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link"><img width="600" height="900" src="../../wp-content/uploads/sites/2/2019/04/28-600x900.jpg" class="movie__poster--image lazyloaded" alt="" data-lazy-srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-200x300.jpg 200w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-150x225.jpg 150w" data-lazy-sizes="(max-width: 600px) 100vw, 600px" data-lazy-src="../../wp-content/uploads/sites/2/2019/04/28-600x900.jpg" sizes="(max-width: 600px) 100vw, 600px" srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-200x300.jpg 200w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-150x225.jpg 150w" data-was-processed="true"><noscript><img width="600" height="900" src="../../wp-content/uploads/sites/2/2019/04/28-600x900.jpg" class="movie__poster--image" alt="" srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-200x300.jpg 200w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/28-150x225.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a>
                                </div>
                                <div class="movie__body">
                                    <div class="movie__info">
                                        <div class="movie__info--head">
                                            <div class="movie__meta">
                                                <span class="movie__meta--release-year">2018</span>
                                                <span class="movie__meta--genre"><a href="../../movie-genre/action/index.html" rel="tag">Action</a>, <a href="../../movie-genre/thriller/index.html" rel="tag">Thriller</a></span>
                                            </div>
                                            <a href="../black-water/index.html" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link">
                                                <h3 class="masvideos-loop-movie__title  movie__title">Black Water</h3>
                                            </a>
                                        </div>
                                        <div class="movie__short-description">
                                            <div>
                                                <p>A deep cover operative awakens to find himself imprisoned in a CIA black site on a submarine.</p>
                                            </div>
                                        </div>
                                        <div class="movie__actions">
                                            <a href="../black-water/index.html" class="movie-actions--link_watch">Watch Now</a>
                                            <div class="movie-actions--link_add-to-playlist dropdown">
                                                <a class="dropdown-toggle" href="../black-water/index.html" data-toggle="dropdown">+ Playlist</a>
                                                <div class="dropdown-menu">
                                                    <a class="login-link" href="../../my-account/movie-playlists/index.html">Sign in to add this movie to a playlist.</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="movie__review-info">
                                        <a href="../black-water/index.html#reviews" class="avg-rating"> <span class="rating-with-count"> <svg class="vodi-svg" width="40px" height="39px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39"><title>play</title><path fill-rule="evenodd" d="M19.633,-0.000 C21.509,0.035 21.530,1.174 22.167,2.414 C23.329,4.679 24.406,7.067 25.572,9.338 C25.853,9.886 26.431,11.640 26.918,11.834 C27.486,12.203 29.345,12.109 30.165,12.316 C32.170,12.825 34.489,12.860 36.500,13.364 C37.516,13.618 38.689,13.413 39.430,13.927 C39.689,14.107 39.770,14.504 39.984,14.732 C40.047,16.499 39.096,16.843 38.163,17.792 C36.473,19.509 34.784,21.227 33.095,22.944 C32.585,23.462 31.092,24.543 31.036,25.359 C31.423,25.951 31.307,27.455 31.511,28.258 C32.138,30.727 32.213,33.522 32.857,35.987 C33.142,37.078 33.016,38.241 32.303,38.724 C31.108,39.533 29.632,38.193 28.819,37.758 C26.695,36.623 24.601,35.624 22.483,34.457 C21.979,34.179 20.607,33.178 20.108,33.088 C19.748,33.023 18.163,34.107 17.812,34.296 C15.557,35.505 13.340,36.640 11.080,37.839 C10.548,38.120 9.180,39.226 8.309,38.966 C6.955,38.558 6.874,36.993 7.280,35.423 C7.716,33.733 7.697,31.880 8.151,30.109 C8.527,28.642 8.907,26.529 9.022,24.957 C8.092,24.344 7.202,23.107 6.408,22.300 C4.760,20.625 3.059,18.990 1.340,17.389 C0.646,16.742 -0.578,15.515 0.311,14.249 C0.915,13.388 2.364,13.656 3.557,13.364 C6.678,12.599 10.114,12.468 13.298,11.834 C14.186,9.747 15.306,7.711 16.307,5.716 C16.954,4.426 17.496,3.163 18.128,1.931 C18.334,1.531 18.358,1.093 18.603,0.724 C18.845,0.362 19.299,0.273 19.633,-0.000 Z"></path></svg> <span class="avg-rating-number"> 10.0</span> </span> <span class="rating-number-with-text"> <span class="avg-rating-number"> 10.0</span> <span class="avg-rating-text"> <span>1</span> Vote </span> </span> </a>
                                        <div class="viewers-count"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-2930 movie type-movie status-publish has-post-thumbnail hentry movie_genre-action">
                                <div class="movie__poster">
                                    <a href="../delta-bravo/index.html" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link"><img width="600" height="900" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20600%20900'%3E%3C/svg%3E" class="movie__poster--image" alt="" data-lazy-srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-200x300.jpg 200w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-150x225.jpg 150w" data-lazy-sizes="(max-width: 600px) 100vw, 600px" data-lazy-src="../../wp-content/uploads/sites/2/2019/04/3-600x900.jpg"><noscript><img width="600" height="900" src="../../wp-content/uploads/sites/2/2019/04/3-600x900.jpg" class="movie__poster--image" alt="" srcset="https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-600x900.jpg 600w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-66x98.jpg 66w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-200x300.jpg 200w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-300x450.jpg 300w, https://demo2.madrasthemes.com/vodi-demos/main/wp-content/uploads/sites/2/2019/04/3-150x225.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" /></noscript></a>
                                </div>
                                <div class="movie__body">
                                    <div class="movie__info">
                                        <div class="movie__info--head">
                                            <div class="movie__meta">
                                                <span class="movie__meta--release-year">2017</span>
                                                <span class="movie__meta--genre"><a href="../../movie-genre/action/index.html" rel="tag">Action</a></span>
                                            </div>
                                            <a href="../delta-bravo/index.html" class="masvideos-LoopMovie-link masvideos-loop-movie__link movie__link">
                                                <h3 class="masvideos-loop-movie__title  movie__title">Delta Bravo</h3>
                                            </a>
                                        </div>
                                        <div class="movie__short-description">
                                            <div>
                                                <p>strange black entity from another world bonds with Peter Parker and causes inner turmoil as he contends with new villains, temptations, and revenge.</p>
                                            </div>
                                        </div>
                                        <div class="movie__actions">
                                            <a href="../delta-bravo/index.html" class="movie-actions--link_watch">Watch Now</a>
                                            <div class="movie-actions--link_add-to-playlist dropdown">
                                                <a class="dropdown-toggle" href="../delta-bravo/index.html" data-toggle="dropdown">+ Playlist</a>
                                                <div class="dropdown-menu">
                                                    <a class="login-link" href="../../my-account/movie-playlists/index.html">Sign in to add this movie to a playlist.</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="movie__review-info">
                                        <a href="../delta-bravo/index.html#reviews" class="avg-rating"> <span class="rating-with-count"> <svg class="vodi-svg" width="40px" height="39px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39"><title>play</title><path fill-rule="evenodd" d="M19.633,-0.000 C21.509,0.035 21.530,1.174 22.167,2.414 C23.329,4.679 24.406,7.067 25.572,9.338 C25.853,9.886 26.431,11.640 26.918,11.834 C27.486,12.203 29.345,12.109 30.165,12.316 C32.170,12.825 34.489,12.860 36.500,13.364 C37.516,13.618 38.689,13.413 39.430,13.927 C39.689,14.107 39.770,14.504 39.984,14.732 C40.047,16.499 39.096,16.843 38.163,17.792 C36.473,19.509 34.784,21.227 33.095,22.944 C32.585,23.462 31.092,24.543 31.036,25.359 C31.423,25.951 31.307,27.455 31.511,28.258 C32.138,30.727 32.213,33.522 32.857,35.987 C33.142,37.078 33.016,38.241 32.303,38.724 C31.108,39.533 29.632,38.193 28.819,37.758 C26.695,36.623 24.601,35.624 22.483,34.457 C21.979,34.179 20.607,33.178 20.108,33.088 C19.748,33.023 18.163,34.107 17.812,34.296 C15.557,35.505 13.340,36.640 11.080,37.839 C10.548,38.120 9.180,39.226 8.309,38.966 C6.955,38.558 6.874,36.993 7.280,35.423 C7.716,33.733 7.697,31.880 8.151,30.109 C8.527,28.642 8.907,26.529 9.022,24.957 C8.092,24.344 7.202,23.107 6.408,22.300 C4.760,20.625 3.059,18.990 1.340,17.389 C0.646,16.742 -0.578,15.515 0.311,14.249 C0.915,13.388 2.364,13.656 3.557,13.364 C6.678,12.599 10.114,12.468 13.298,11.834 C14.186,9.747 15.306,7.711 16.307,5.716 C16.954,4.426 17.496,3.163 18.128,1.931 C18.334,1.531 18.358,1.093 18.603,0.724 C18.845,0.362 19.299,0.273 19.633,-0.000 Z"></path></svg> <span class="avg-rating-number"> 8.0</span> </span> <span class="rating-number-with-text"> <span class="avg-rating-number"> 8.0</span> <span class="avg-rating-text"> <span>1</span> Vote </span> </span> </a>
                                        <div class="viewers-count"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


