@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
 
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="auth-box" style="background: #e5e5e59e">
    <div id="loginform">
        <div class="logo">
            <span class="db"><img src="~/images/logo_black.png" width="150"  alt="logo" /></span>
            <h4 class="font-medium m-b-20">Login to your Account</h4>
            
        </div>
        <!-- Form -->
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal m-t-20" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginform">
                    <div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @*<span asp-validation-for="Password" class="text-danger"></span>
                        <span asp-validation-for="Email" class="text-danger"></span>*@

                    </div>
                    <span   asp-validation-for="Email"  class="form-text text-danger"></span>
                    <div class="input-group mb-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text" asp-for="Email" id="basic-addon1"><i class="ti-user"></i></span>

                        </div>

                        <input type="text" class="form-control form-control-lg" asp-for="Email" placeholder="email" aria-label="email" aria-describedby="basic-addon1">
                    </div>
                    
                    <span   asp-validation-for="Password"  class="form-text text-danger"></span>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                        </div>

                        <input type="password" class="form-control form-control-lg" asp-for="Password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="RememberMe" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" asp-for="RememberMe" for="customCheck1">Remember me</label>
                                <a asp-action="ForgotPassword" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Forgot password?</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                            <div class="social">
                                <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="" data-original-title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </a>
                                <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="" data-original-title="Login with Google"> <i aria-hidden="true" class="fab fa-google"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-0 m-t-10">
                        <div class="col-sm-12 text-center">
                            Don't have an account? <a asp-action="Register" class="text-info m-l-5"><b>Sign Up</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*<div id="recoverform">
        <div class="logo">
            <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
            <h5 class="font-medium m-b-20">Recover Password</h5>
            <span>Enter your Email and instructions will be sent to you!</span>
        </div>
        <div class="row m-t-20">
            <!-- Form -->
            <form class="col-12" action="#">
                <!-- email -->
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control form-control-lg" type="email" required="" placeholder="Username">
                    </div>
                </div>
                <!-- pwd -->
                <div class="row m-t-20">
                    <div class="col-12">
                        <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
