@using CloudinaryDotNet
@using Webnovel.Helpers
@using Webnovel.Repository
@using Webnovel.Services
@model ApplicationUser
@inject IAuthor Author
@inject UserManager<ApplicationUser> UserManager
@inject IPayment _payment
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

    var cloudinary = new Cloudinary(new Account()
    {
        ApiKey = CloudinaryUpload.apiKey,
        ApiSecret = CloudinaryUpload.apiSecret,
        Cloud = CloudinaryUpload.cloud,

    });
    var userId = UserManager.GetUserId(User);
    var author = await Author.Get(Model.Id);
    var hasWallet = await _payment.HasWallet(userId);
    var getWallet = await _payment.GetUserWallet(userId);
    var userSubscription = await _payment.GetUserSubscription(userId);
    var userCowries = await _payment.GetUserCowries(userId);
}

<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            @{
                var img = "../admin/assets/images/users/d3.jpg";
                if (Model.ProfileImage != null)
                {
                    img = cloudinary.Api.UrlImgFetch.
                        Transform(new Transformation()
                            .Height(200).Width(200).Crop("fill")).BuildUrl(Model.ProfileImage);
                }
            }

            <div class="card-body">
                <center class="m-t-30">
                    <div class="img-link">
                        <div class="img-back">
                            <span class="change-picture"> <i class="mdi mdi-camera"></i> change</span>
                        </div>
                        <img src="@img" id="profile-pic" class="rounded-circle" width="200" />
                    </div>
                    <h4 class="card-title m-t-10">@Model.FirstName @Model.LastName</h4>
                    <h5 class="card-subtitle"> @Model.Email</h5>
                    @if (author != null)
                    {
                        <h6 class="card-subtitle"> @author.Title</h6>
                    }
                    <div class="row text-center justify-content-md-center">
                        <div class="col-md-4">
                            <a href="javascript:void(0)" class="link">
                                <img src="~/images/cowries.png" class="img-circle img-responsive" width="20"/> Cowries
                                <br/><span class="font-medium">@userCowries.Cowries</span>
                            </a>
                        </div>
                        <div class="col-md-4"><a href="javascript:void(0)" class="link"><i class="fa fa-clock"></i>  Subscription    <br /> <span class="font-medium"> @Utilities.CalculateDaysRemainingFromToday( userSubscription.DueDate) days remaining</span></a></div> 
                        @if (hasWallet)
                        {
                            <div class="col-md-4"><a href="javascript:void(0)" class="link"><i class="fa fa-wallet"></i>  Wallet    <br /> <span class="font-medium">$ @getWallet.Amount </span></a></div>
                        }
                    </div> 
                    <div class="row text-center justify-content-md-center">
                        <div class="col-md-4">
                            <a href="@Url.Action("FundWallet","Wallet")" class="btn btn-sm btn-primary">
                                <span class="font-medium">Add Cowries</span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Action("SubScription","Wallet")" class="btn btn-sm btn-primary">
                                <span class="font-medium">Subscribe</span>
                            </a>
                        </div>
                    </div>
                </center>
            </div>

            <div>

                <hr>
            </div>
            @*<div class="card-body">
                    @*<small class="text-muted">Email address </small>
                    <h6>hannagover@gmail.com</h6>
                    <small class="text-muted p-t-30 db">Phone</small>
                    <h6>+91 654 784 547</h6> <small class="text-muted p-t-30 db">Address</small>
                    <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
                    <div class="map-box">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div> <small class="text-muted p-t-30 db">Social Profile</small>
                    <br />
                    <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
                    <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                    <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
                </div>*@
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Tabs -->
            <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#last-month" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#previous-month" role="tab" aria-controls="pills-setting" aria-selected="false">Edit</a>
                </li>
            </ul>
            <!-- Tabs -->
            <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="last-month" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>First Name</strong>
                                <br>
                                <p class="text-muted">@Model.LastName</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Last Name</strong>
                                <br>
                                <p class="text-muted">@Model.LastName</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>My Title</strong>
                                <br>
                                <p class="text-muted">@(author != null ? author.Title : "") </p>
                            </div>

                            <div class="col-md-3 col-xs-6">
                                <strong>Phone</strong>
                                <br>
                                <p class="text-muted">@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>
                <div class="tab-pane fade" id="previous-month" role="tabpanel" aria-labelledby="pills-setting-tab">
                    <div class="card-body">

                        @await Component.InvokeAsync("EditAuthorProfile", new { userId = Model.Id })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>


@section css{
    <link href="~/admin/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
    <style>
        .img-back {
            background-color: #0000008a;
            position: absolute;
            top: 42%;
            left: 50%;
            height: 200px;
            width: 200px;
            border-radius: 100%;
            transform: translate(-50%, -64%);
            -ms-transform: translate(-50%, -64%);
            text-align: center;
            cursor: pointer;
        }

            .img-back:hover {
                display: block;
            }

        span.change-picture {
            position: absolute;
            text-align: center;
            color: #ffffff;
            left: 40%;
            margin: auto;
            width: 50px;
            top: 40%;
        }
    </style>
}

@section Scripts
    {
    <script src="~/admin/assets/libs/toastr/build/toastr.min.js"></script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

    <script>
        var cloudName = "@CloudinaryUpload.cloud";
        var apiKey = "@CloudinaryUpload.apiKey";
        var widget = cloudinary.createUploadWidget({
                cloudName: cloudName,
                cloudName: cloudName,
                apiKey: apiKey,
                uploadPreset: "unsignedUpload",
                folder: "webnovel",
                maxFiles: 1,
                resourceType: "image",
                maxFileSize: 21000000
            },
            (error, result) => {
                if (result && result.event === "success") {
                    // do something
                    // $("#uploadedUrl").val(result.info.secure_url);
                    $("#profile-pic").attr("src", result.info.secure_url);
                    $.ajax("/User/ChangeProfilePicture/",
                        {
                            type: "post",
                            data: { "picture": result.info.secure_url },
                            success: function(res) {
                                if (res.status == 200) {
                                    toastr.success(res.message);
                                    $("#profile-pic").attr("src", result.info.secure_url);
                                } else {
                                    toastr.error(res.message);

                                }


                            }
                        });
                }
                console.log(result);
            });


        $(document.body).on("mouseover",".img-link",
            function() {
                $(this).find(".img-back").show();
            }).on("mouseout", ".img-link",
            function () {
                $(this).find(".img-back").hide();
            });

        $(".img-link ").click(function() {
            widget.open();
        });
    </script>
    <script>
        $("#editProfileForm").submit(function(event) {
            event.preventDefault();
            var data = $(this).serialize();
            $.ajax("/User/EditAuthorProfile",
                {
                    type: "post",
                    data: data,
                    beforeSend: function() {
                        $(this).find("button[type='submit']").attr("disabled", "disabled");

                    },
                    complete: function() {
                        $(this).find("button[type='submit']").removeAttr("disabled");
                    },

                    success: function(res) {
                        if (res.status == 200) {
                            toastr.success(res.message);
                        }
                    }
                });
        })
    </script>
}
