@using Webnovel.Repository

@inject ICategory Category




@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IComic Comic
@{
    var categories = await Category.List();
}


<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
    <!-- Basic need -->
    <title>Alkebulania - @ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="description" content="Alkebulania is a startup, geared at promoting African content to the international community and African’s in the diaspora, as a means of changing the African narrative and improving the image of Africa on the international stage with entertainment as the starting point in the form of novels, comics, animations, and gaming">
    <meta name="keywords" content="alkebulania">
    <meta name="author" content="">
    <link rel="profile" href="#">
    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">
    <!-- CSS files -->

    <link href="~/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/home/css/plugins.css">
    <link rel="stylesheet" href="~/home/css/style.css">
    <script>
        !function () {
            var analytics = window.analytics = window.analytics || []; if (!analytics.initialize) if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
            analytics.invoked = !0; analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"]; analytics.factory = function (t) { return function () { var e = Array.prototype.slice.call(arguments); e.unshift(t); analytics.push(e); return analytics } }; for (var t = 0; t < analytics.methods.length; t++) { var e = analytics.methods[t]; analytics[e] = analytics.factory(e) } analytics.load = function (t, e) { var n = document.createElement("script"); n.type = "text/javascript"; n.async = !0; n.src = "https://cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(n, a); analytics._loadOptions = e }; analytics.SNIPPET_VERSION = "4.1.0";
                analytics.load("gRP8d200MDDD7Y5E0hzIDkk4u0TZmGbx");
                analytics.page();
            }
        }();
    </script>
    <style>
        .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
            background-color: inherit;
            color: #555;
        }

        .movie-items .movie-item .title-in {
            margin-left: 10px;
        }

        .slide-it.slick-side.slick-slide {
            width: 185px !important;
        }
    </style>
    @RenderSection("Css", required: false)
    <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/ae16088008f7bd829b19ac53c/4cf9f45ebffbe9d334c1620db.js");</script>
</head>
<body>
    <!--preloading-->
    <div id="preloader">
        <img class="logo" src="~/images/logo_gold.png" alt=""  height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>
    <!--end of preloading-->
    <!--login form popup-->
    <div class="login-wrapper" id="login-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>Login</h3>
            <form method="post" action="#">
                <div class="row">
                    <label for="username">
                        Email:
                        <input type="text" name="email" id="email" placeholder="email" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="password">
                        Password:
                        <input type="password" name="password" id="password" placeholder="******" required="required" />
                    </label>
                </div>
                <div class="row">
                    <div class="remember">
                        <div>
                            <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                        </div>
                        <a href="#">Forget password ?</a>
                    </div>
                </div>
                <div class="row">
                    <button type="submit">Login</button>
                </div>
            </form>
            @*<div class="row">
                    <p>Or via social</p>
                    <div class="social-btn-2">
                        <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                        <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
                    </div>
                </div>*@
        </div>
    </div>
    <!--end of login form popup-->
    <!--signup form popup-->
    <div class="login-wrapper" id="signup-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>sign up</h3>
            <form method="post" action="https://haintheme.com/demo/html/bustter/signup.php">


                <div class="row">
                    <label for="email-2">
                        your email:
                        <input type="password" name="email" id="email-2" placeholder="" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="password-2">
                        Password:
                        <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="repassword-2">
                        re-type Password:
                        <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <button type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>
    <!--end of signup form popup-->
    <!-- BEGIN | Header -->
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a href="@Url.Action("Home","Home")"><img class="logo" src="~/images/logo_gold.png" alt="" width="119" height="58"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
                                Novels <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li><a href="@Url.Action("Novels","Home")">All</a></li>
                                @foreach (var i in categories)
                                {

                                <li><a href="@Url.Action("Novels","Home", new{categoryId = i.Id})" title="@i.Name">@i.Name</a></li>
                                }


                            </ul>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                Comics<i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">

                                <li><a href="@Url.Action("Comics","Home")">Comics</a></li>
                                @foreach (var i in categories)
                                {

                                <li><a href="@Url.Action("Comics","Home", new{categoryId = i.Id})" title="@i.Name">@i.Name</a></li>
                                }

                            </ul>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" title="Animations" data-hover="dropdown">
                                Animatons <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li><a href="@Url.Action("Animations","Home")">Animations</a></li>
                                @foreach (var i in categories)
                                {

                                <li><a href="@Url.Action("Animations","Home", new{categoryId = i.Id})" title="@i.Name">@i.Name</a></li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                Community <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li><a asp-action="ComingSoon" asp-controller="Home">Forumn</a></li>
                                <li><a asp-action="ComingSoon" asp-controller="Home">Blog</a></li>
                                <li class="it-last"><a asp-action="ReferralSignup" asp-controller="Home">Referral Hub</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav flex-child-menu menu-right">
                        <li><a href="@Url.Action("CreateContent","User")" class="first">Create</a></li>
                        <li><a href="@Url.Action("Barn","Home")" title ="Barn - My Favorite Novels, comics and Animations" class="first">My Barn</a></li>

                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                <i class="fa fa-user"></i> Account
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                            <ul class="dropdown-menu level1">
                                <li> <a asp-controller="User" asp-action="Switch">Select Account</a></li>
                                <li>
                                    <a asp-controller="User" asp-action="">My Profile</a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="SignOut" class="it-last">Logout</a>
                                </li>
                            </ul>
                        }else{
                            <ul class="dropdown-menu level1">
                                <li><a href="@Url.Action("Login","Account")">Log In</a></li>
                                <li class="it-last"><a href="@Url.Action("Register","Account")">Sign up</a></li>
                            </ul>
                        }

                        </li>

                        @*<li class="loginLink"><a href="#">LOG In</a></li>
                            <li class="btn signupLink"><a href="#">sign up</a></li>*@
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- top search form -->
            <div class="top-search">
                <select>
                    <option value="united">Novels</option>
                    <option value="saab">Comics</option>
                    <option value="saab">Animations</option>
                </select>
                <input type="text" placeholder="Search for a novels, comics or animations that you are looking for">
            </div>
        </div>
    </header>
    <!-- END | Header -->
    @RenderBody()

    <!-- footer section-->
    <footer class="ht-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="title-hd">
                        <h4 class="text-white">About us</h4>
                    </div>
                 
                    <p>
                        Alkebulania is a startup, geared at promoting African content to the international community and African’s in the diaspora, as a means of changing the African narrative and improving the image of Africa on the international stage with entertainment as the starting point in the form of novels, comics, animations, and gaming. We are an online platform designed to promote and commercialize these content while achieving two (2) major things;
                    </p>
                    <ul style="list-style-type: circle">
                        <li>
                            <p> Provision of steady substantial means of income for the continents content providers; </p>
                        </li>
                        <li>
                            <p> Projection of a new positive narrative about Africa as a continent and its people to both Africans, especially those who have lost hope in our motherland and the international community at large through provided content.
                        </li>
                    </ul>

                    <p> Our tagline <b><em>“Stories from the Origin”</em></b> perfectly sums up who we are</p>


                </div>
            </div>
            <div class="flex-parent-ft">
                <div class="flex-child-ft">


                </div>
                <div class="flex-child-ft">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Forums</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Become a content creator</a></li>
                        <li><a href="#">Translator and Editors</a></li>
                        <li><a href="#">Co-creator</a></li>
                    </ul>
                </div>
                <div class="flex-child-ft">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Copyright Policy</a></li>
                    </ul>
                </div>
                <div class="flex-child-ft item4">
                    <h4></h4>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">My Barn</a></li>
                        <li><a href="#">Collections</a></li>
                        <li><a href="#">Frequently Asked question</a></li>
                        <li><a href="#">Adverts</a></li>
                        <li><a href="#">Partners</a></li>
                    </ul>
                </div>
                <div class="flex-child-ft item5">
                    <h4>Newsletter</h4>
                    <p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your email...">
                    </form>
                    <a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
                </div>
            </div>
        </div>
        <div class="ft-copyright">
            <div class="ft-left">
                <p>© @DateTime.UtcNow.Year Alkebulania. All Rights Reserved.</p>
            </div>
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>
    <!-- end of footer section-->
    <script src="~/home/js/jquery.js"></script>

<script src="~/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/home/js/plugins.js"></script>
    <script src="~/home/js/plugins2.js"></script>
<script src="~/home/js/custom.js"></script> 
<script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>
<script>
    $(function () {
        $('a[data-toggle="popover"]').webuiPopover({trigger: 'hover'});
    })
</script>
@RenderSection("Scripts", required: false)

</body>
</html>



